@import "../../styles/_colors.scss";

.med-resource-card {
  width: 100%;
  height: auto;

  .med-link-card {
    color: currentColor;

    .med-header-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 5px;
    }
  }

  .card-title {
    font-size: 14px;
  }

  .card-body {
    display: flex;
    justify-content: center;

    .med-resource-image {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .card-footer {
    align-self: flex-end;
    gap: 1px !important;
    padding: 0rem;
    margin: 6px;
    background-color: transparent;

    .med-footer-svg {
      white-space: nowrap;
    }
    svg {
      height: 18px;
      margin-right: 1px;
      width: 18px;
      cursor: pointer;
    }

    .med-link {
      cursor: pointer;
      color: $med-light-blue;
    }

    .med-pin {
      cursor: pointer;
      color: $med-red;
    }

    .med-star {
      color: $med-orange;
    }
  }

  &.favorites {
    .card-title {
      margin: 6px;
    }
    .card-body {
      margin: 0px 5px;
      height: 94px;
    }
  }

  &.manuals {
    .card-title {
      margin: 6px 10px 0px 10px;
    }
    .card-text {
      margin: 0px 10px;
      font-size: 10px;
      color: $med-gray;
      line-height: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-body {
      height: 128px;
      @media (min-width: 1600px) {
        height: 133px;
      }
    }
  }

  &.book_mark {
    display: flex;

    .med-body {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      color: currentColor;

      .card-body {
        margin: 10px 15px;
        height: 79px;
        max-width: 79px;
        @media (min-width: 1600px) {
          height: 81px;
          max-width: 81px;
        }
      }
      .med-text-body {
        align-content: center;
        margin-right: 10px;
        width: calc(100% - 109px);
        .card-text {
          font-size: 14px;
          white-space: wrap;
          color: $med-gray;
          font-style: italic;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .card-footer {
      width: 100%;
      justify-content: space-between;
      background-color: var(--edifice-card-cap-bg);
      margin: 0px;
      padding: 5px;
      .med-resource-footer-image {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
      .med-footer-text {
        .med-footer-text-text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        align-items: center;
        gap: 5px;
        margin-left: 2px;
        display: flex;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .med-footer-svg {
        margin-left: 5px;
      }
    }
  }

  &.pinned_resources {
    .card-title {
      margin: 6px 10px 0px 10px;
    }
    .card-text {
      margin: 0px 10px;
      line-height: normal;
      white-space: wrap;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .card-body {
      margin-top: 6px;
      height: 100px;
      @media (min-width: 1600px) {
        height: 116px;
      }
    }
    .card-footer {
      width: 100%;
      justify-content: space-between;
      margin: 0px;
      padding: 5px;
      .med-footer-text {
        display: flex;
        gap: 0.5rem;
        font-size: 12px;
        font-weight: bold;
        color: $med-gray;
        white-space: nowrap;
        overflow: hidden;
      }
      .med-footer-svg {
        margin-left: 5px;
      }
      .svg {
        align-items: end;
      }
    }
  }
}
