/build
/bin
.DS_Store
.classpath
.project
/.gradle
/.settings
.jshintrc
node_modules/
src/main/resources/view
src/main/resources/public/dist
src/main/resources/public/js
src/main/resources/public/css/
src/main/resources/public/template/entcore
rev-manifest.json
/.idea
cacerts
/src/main/resources/public/font/
coverage/
/package-lock.json
/yarn.lock

# BACKEND
/backend/.DS_Store
/backend/.gradle
/backend/.idea
/backend/.classpath
/backend/.project
/backend/.settings
/backend/.yardoc
/backend/.yardopts
/backend/bin
/backend/build
/backend/*/build
/backend/target
/backend/out
/backend/*.iml
/backend/*.ipr
/backend/*.iws
/backend/test-output
/backend/test-results
/backend/test-tmp
/backend/*.class
/backend/mods
/backend/*/mods
/backend/data
/backend/developer.id
/backend//coverage/front/cobertura-coverage.xml
/backend/rev-manifest.json
/backend//build
/backend//bin
/backend/node_modules/
/backend/gradle/
/backend/gradlew*
/backend/package-lock.json
# Ignore the entire "resources" folder except jsonchema
/backend/src/main/resources/public
/backend/src/main/resources/view
/backend/src/main/resources/i18n
/backend/src/main/resources/img

# ANGULARJS
/angularJS/src/css/
/angularJS/src/dist/
/angularJS/src/js/
/angularJS/src/font/
/angularJS/src/view/
/angularJS/node_modules
/angularJS/.idea
/angularJS/yarn*

# FRONTEND
# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local
/frontend/.env*
/frontend/*.lock

/frontend/pnpm-lock.yaml

# Editor directories and files
/frontend/.vscode/*
/frontend/!.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?

# Google Lighthouse
/frontend/.lighthouseci
/frontend/.pnpm-store

/frontend/.env
/frontend/.env.dev
/frontend/.env.prod
/frontend/.env.local

# Turborepo
/frontend/.turbo
