@import "./colors.scss";

body {
  min-width: inherit;
  width: auto;
}

main {
  &.container-fluid {
    max-width: none;
    margin: 0;
    --edifice-container-width: 100%;
    padding-right: 0%;
    padding-left: 0%;
  }
}

.med-container {
  width: calc(100% - 75px);
  margin-left: 75px;
  background-color: $med-light-gray;
  .square-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.file-card {
  width: 100%;
  height: 183px;
}

.pin {
  width: 100%;
  display: flex;
}
