section.lightbox {
  height: auto !important;
  overflow: visible;

  > div.content {
    overflow: visible;
    max-height: fit-content;

    .lightbox-title {
      padding: 10px;
      background-color: $primary;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: $white;
      font-size: 20px;
    }
  }
}

lightbox.nopadding {
  section.lightbox {
    > div.content {
      padding: 0;
    }
  }
}