section.lightbox {
  height: auto !important;

  > div.content {
    padding: 0;
    overflow: visible;
    max-height: fit-content;

    .lightbox-title {
      padding: 10px;
      background-color: $primary;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: $white;
      font-size: 20px;
    }
  }
}