<div class="lightbox-title">
    <i18n>mediacentre.source.search.advanced</i18n>
</div>
<form class="advanced-search-form">
    <div class="ten twelve-mobile">
        <div class="row-flex vertical-spacing-four twelve-mobile" ng-repeat="field in mc.search.advanced.fields">
            <span class="two twelve-mobile" ng-if="!field.comparator">&nbsp;</span>
            <div class="two centered-text twelve-mobile" ng-if="field.comparator">
                <select ng-model="mc.search.advanced.values[field.name].comparator">
                    <option value="$or">
                        [[ mc.idiom.translate('mediacentre.or') ]]
                    </option>
                    <option value="$and">
                        [[ mc.idiom.translate('mediacentre.and') ]]
                    </option>
                </select>
            </div>
            <span class="two three-mobile">[[ mc.idiom.translate('mediacentre.advanced.name.' + field.name) ]]:</span>
            <input class="eight nine-mobile"
                   type="text"
                   ng-enter="mc.advancedSearch()"
                   ng-model="mc.search.advanced.values[field.name].value"
                   i18n-placeholder="[[ 'mediacentre.advanced.placeholder.' + field.name ]]">
        </div>
        <div class="row-flex vertical-spacing-four twelve-mobile loaders">
            <span class="two twelve-mobile">&nbsp;</span>
            <span class="two three-mobile"><i18n>mediacentre.advances.name.sources</i18n>:</span>
            <div class="eight nine-mobile flex-row">
                <div ng-repeat="(key, val) in mc.search.advanced.sources" class="align-center flex-row">
                    <img ng-src="[[ '/mediacentre/public/img/' + key + '.png' ]]" alt="[[ key ]]"/>
                    <label class="checkbox horizontal-margin">
                        <input type="checkbox" ng-model="mc.search.advanced.sources[key]"/>
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="advanced-search-background">&nbsp;</div>
    </div>
    <div class="right-magnet vertical-spacing-four">
        <button class="cancel" ng-click="mc.closeAdvancedSearch()">
            <i18n>cancel</i18n>
        </button>
        <input type="submit" ng-click="mc.advancedSearch()" i18n-value="mediacentre.search">
    </div>
</form>
