<div ng-controller="HomeController as vm" class="home">
    <div ng-include="'/mediacentre/public/template/header.html'"></div>

    <!--External resources-->
    <div class="external horizontal-spacing row vertical-spacing">
        <div class="title">
            <h2 class="cell">
                <i18n>mediacentre.my.external.resources</i18n>
            </h2>
            <div class="seeMore cell" data-ng-click="vm.seeMyExternalResource()">
                <span>
                    <i18n>mediacentre.see.more</i18n>
                </span>
            </div>
        </div>

        <!--Content-->
        <div class="external-flex" ng-show="vm.displayedResources.length > 0">
            <div class="external-flex-card">
                <resource-card ng-repeat="resource in vm.displayedResources | orderBy:'title' track by $index"
                               ng-if="$index > vm.displayedResources.length - 1 - vm.resourceLimit"
                               type="resource"
                               ng-model="resource">
                </resource-card>
            </div>
        </div>
    </div>

    <!--Textbooks-->
    <div class="textbooks horizontal-spacing row vertical-spacing" ng-show="vm.textbooks.length > 0">
        <h2>
            <i18n>mediacentre.advanced.textbooks.mine</i18n>
            <div class="cell right-magnet card horizontal-spacing"
                 style="text-transform: capitalize; display: flex"
                 ng-click="vm.refreshTextBooks()">
                <i class="refresh horizontal-spacing"></i>
                <i18n>mediacentre.textbooks.refresh</i18n>
            </div>
        </h2>

        <!--Content-->
        <div class="textbooks-grid" ng-show="vm.textbooks.length > 0">
            <resource-card
                    ng-repeat="resource in vm.textbooks | orderBy:'title' track by $index"
                    type="textbook"
                    ng-model="resource">
            </resource-card>
        </div>
    </div>

    <!--Signets-->
    <div class="textbooks horizontal-spacing row vertical-spacing" ng-show="vm.publicSignets.length > 0">
        <h2>
            <i18n>mediacentre.signets.mine.upperCase</i18n>
        </h2>

        <!--Content-->
        <div class="textbooks-grid" ng-show="vm.publicSignets.length > 0">
            <resource-card
                    ng-repeat="resource in vm.publicSignets | orderBy:'title' track by $index"
                    type="signet"
                    ng-model="resource">
            </resource-card>
        </div>
    </div>

    <!--Orientation-->
    <div class="textbooks horizontal-spacing row vertical-spacing" ng-show="vm.orientationSignets.length > 0">
        <h2>
            <i18n>mediacentre.signets.orientation.decouverte.upperCase</i18n>
        </h2>

        <!--Content-->
        <div class="textbooks-grid" ng-show="vm.orientationSignets.length > 0">
            <resource-card
                    ng-repeat="resource in vm.orientationSignets | orderBy:'title' track by $index"
                    type="signet"
                    ng-model="resource">
            </resource-card>
        </div>
    </div>
</div>