<div ng-controller="SearchController as vm" class="search">
    <div ng-include="'/mediacentre/public/template/header.html'"></div>
    <div class="search-header horizontal-spacing">
        <div class="flex-left">
            <div class="cell" ng-if="vm.getAdvancedSearchField().length > 0 && !vm.emptyAdvancedSearch()">
                <h2>
                    <i18n>mediacentre.source.search.advanced</i18n>
                </h2>
                <div class="advanced-search-fields">
                    <div class="cell field" ng-repeat="field in vm.getAdvancedSearchField()">
                    <span ng-if="mc.search.advanced.values[field].value.trim() !== ''">
                        <strong>[[ idiom.translate('mediacentre.advanced.name.' + field) ]]</strong> : [[ mc.search.advanced.values[field].value ]]
                    </span>
                    </div>
                </div>
            </div>
            <div class = "search-filters vertical-spacing-twice">
                <div class="vertical-spacing-twice"
                     ng-if="(vm.filters.initial.document_types.length > 0 || vm.filters.initial.levels.length > 0) && !vm.displayFilter"
                     ng-click="vm.showFilter()">
                    <i class="seeFilter"></i> <span><i18n>mediacentre.search.filter.mobile</i18n></span>
                </div>
                <div class="row filter-line" ng-show="vm.displayFilter">
                    <div class="cell twelve-mobile">
                        <div class="vertical-spacing-twice"
                             ng-if="(vm.filters.initial.document_types.length > 0 || vm.filters.initial.levels.length > 0) && vm.displayFilter"
                             ng-click="vm.mobile && vm.showFilter()">
                            <i18n>mediacentre.search.filter</i18n> :
                        </div>
                        <div class="row">
                            <multi-combo ng-repeat="filter in vm.filteredFields"
                                         ng-if="vm.filters.initial[filter].length > 0"
                                         title="[[ idiom.translate('mediacentre.search.filter.' + filter) ]]"
                                         combo-model="vm.filters.initial[filter]"
                                         search-on="name"
                                         order-by="name"
                                         filtered-model="vm.filters.filtered[filter]">
                            </multi-combo>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-right">
            <a class="right-magnet cancel button" href="#/">
                <i18n>mediacentre.search.cancel</i18n>
            </a>
            <div class="right-magnet loaders" ng-if="vm.getSourcesLength()">
                <div ng-repeat="(key, val) in vm.loaders" class="[[ vm.formatClassName(key) ]] source-loader"
                     ng-if="mc.search.advanced.sources[key]">
                    <img ng-src="[[ '/mediacentre/public/img/' + key + '.png' ]]" alt="[[ key ]]"/>
                    <loader active="val" ng-if="val"></loader>
                    <i class="validated-status source-check" ng-show="!val"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="search-grid horizontal-spacing" ng-show="vm.resources.length > 0">
        <resource-card ng-repeat="resource in vm.displayedResources | limitTo:mc.limitTo track by $index"
                       type="complete-card"
                       ng-model="resource">
        </resource-card>
    </div>
    <div class="no-result eight centered horizontal-spacing" ng-show="!vm.isLoading() && vm.resources.length === 0">
        <div class="six">
            <img src="/mediacentre/public/img/no-result.svg" alt="[[ idiom.translate('mediacentre.no-result.alt') ]]">
        </div>
        <div class="six">
            <i18n>mediacentre.no-result</i18n>
        </div>
    </div>
    <infinite-scroll scrolled="mc.infiniteScroll()"></infinite-scroll>
</div>