<div class="row" ng-controller="SignetController as vm">
    <div ng-include="'/mediacentre/public/template/header.html'"></div>
<!--
    <h4 class="zero-desktop"><input class="search_nav" type="text" ng-model="vm.searchInput" placeholder="Rechercher"></h4>
-->

    <!--Navigation menu-->
    <section class="cell three zero-mobile vertical-spacing" style="padding-left: 10px">
        <input type="text" ng-model="vm.searchInput" class="search_nav" placeholder="Rechercher">
        <nav class="vertical row">
            <ul>
                <li><a ng-click="vm.openFolder('mine')" ng-class="{selected : vm.folder === 'mine'}">
                    <i18n>mediacentre.signets.mine</i18n>
                </a></li>
                <li><a ng-click="vm.openFolder('shared')" ng-class="{selected : vm.folder === 'shared'}">
                    <i18n>mediacentre.signets.shared</i18n>
                </a></li>
                <li><a ng-click="vm.openFolder('archived')" ng-class="{selected : vm.folder === 'archived'}">
                    <i18n>mediacentre.signets.archived</i18n>
                </a></li>
            </ul>
        </nav>
    </section>

    <div id="mySidenavForms" class="sideNavMyForms zero-desktop ellipsis">
        <nav class="vertical row">
            <ul>
                <li><a ng-click="vm.openFolder('mine')" ng-class="{selected : vm.folder === 'mine'}">
                    <i18n>mediacentre.signets.mine</i18n>
                </a></li>
                <li><a ng-click="vm.openFolder('shared')" ng-class="{selected : vm.folder === 'shared'}">
                    <i18n>mediacentre.signets.shared</i18n>
                </a></li>
                <li><a ng-click="vm.openFolder('archived')" ng-class="{selected : vm.folder === 'archived'}">
                    <i18n>mediacentre.signets.archived</i18n>
                </a></li>
            </ul>
        </nav>
    </div>

    <section class="cell six twelve-mobile vertical-spacing">

        <div ng-include="'mediacentre/public/template/components/filters.html'"></div>

        <!--Dominos display-->
        <div class="dominos" ng-if="!vm.signets.all.empty()">
            <div ng-repeat="signet in vm.signets.all | limitTo:vm.limitTo"
                 ng-if="!vm.signets.all.empty() && signet.displayed"
                 ng-click="signet.selected = !signet.selected"
                 class="item" ng-class="{'selected' : signet.selected}">
                <div class="domino">
                    <div class="four picture" ng-class="{'empty': !signet.imageurl}">
                        <img ng-src="[[(signet.imageurl) || '/mediacentre/public/img/empty-image.png']]"/>
                    </div>
                    <div class="eight">
                        <div class="data">
                            <div class="data-text">
                                <div class="title" title="[[signet.title]]">[[signet.title]]</div>
                                <div class="owner">[[signet.owner_name]]</div>
                                <div class="date"><i18n>mediacentre.modified</i18n>[[displayDate(signet.date_modification)]]</div>
                            </div>
                            <div class="data-bottom">
                                <div class="icons">
                                    <i class="send md-icon" ng-if="signet.sent && !signet.archived" title="[[vm.getTitle('sent')]]"></i>
                                    <i class="share md-icon" ng-if="signet.collab" title="[[vm.getTitle('shared')]]"></i>
                                    <i class="bell md-icon" ng-if="signet.reminded" title="[[vm.getTitle('reminded')]]"></i>
                                    <!--Add favorite-->
                                    <div ng-if="!signet.favorite" class="cell add-to-favorite" data-ng-click="vm.addFavorite(signet, $event)"
                                         tooltip="<i18n>mediacentre.add.to.favorite</i18n>">&nbsp;
                                    </div>
                                    <!--Remove favorite-->
                                    <div ng-if="signet.favorite" class="cell remove-to-favorite" data-ng-click="vm.removeFavorite(signet, $event)"
                                         tooltip="<i18n>mediacentre.remove.to.favorite</i18n>">&nbsp;
                                    </div>
                                    <div class="copy-clipboard clipboard signet-resource-[[signet.id]] pointer"
                                         data-clipboard-text="[[signet.url]]" data-ng-click="$event.stopPropagation()" tooltip="<i18n>mediacentre.copy.link</i18n>">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="error" ng-if="vm.signets.all.empty()">
            <img src="/mediacentre/public/img/onboarding.svg"/>
            <i18n>mediacentre.signets.empty</i18n>
        </div>
    </section>

    <section class="cell three zero-mobile vertical-spacing" style="padding-right: 20px">
        <div class="main-button">
            <button class="cell" workflow="mediacentre.creation" ng-click="vm.openCreateSignet()"><i18n>mediacentre.signet.create.button</i18n></button>
        </div>
    </section>

    <infinite-scroll scrolled="vm.infiniteScroll()" loading-mode="true"></infinite-scroll>

    <container template="lightboxContainer"></container>

    <div ng-include="'mediacentre/public/template/components/toaster.html'"></div>
</div>