.med-fav-title-icon {
  margin-right: 5px;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.card-title {
  text-overflow: ellipsis;
  white-space: nowrap !important;
  width: 100%;

  strong {
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
