<div class="horizontal-spacing" ng-controller="propSignetController">
    <h2><i18n>mediacentre.signets.properties</i18n></h2>
    <div class="horizontal-spacing vertical-spacing">
        <div class="four cell horizontal-spacing">
            <img class="initialFloat cell" ng-src="[[signet.image]]"/>
        </div>
        <div class="eight cell">
            <div>
                <label class="row twelve">
                    <span class="title-prop"><i18n>mediacentre.advanced.name.title</i18n></span>
                    <br>
                    <span>[[signet.title]]</span>
                </label>
                <br>
                <label class="row twelve">
                    <span class="title-prop"><i18n>mediacentre.link</i18n></span>
                    <br>
                    <span>[[signet.url]]</span>
                </label>
            </div>
            <br>
            <div class="row">
                <label class="title-prop">
                    <i18n>mediacentre.levels</i18n>
                </label>
                <div class="twelve cell select-blocks-cross">
                    <div ng-repeat="level in filterChoice.levels"
                         class="labels-in-ligne">
                        <div > [[ level.label]] </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="title-prop">
                    <i18n>mediacentre.disciplines</i18n>
                </label>
                <div class="twelve cell select-blocks-cross">
                    <div ng-repeat="discipline in filterChoice.disciplines"
                         class="labels-in-ligne">
                        <div> [[ discipline.label]] </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="title-prop">
                    <i18n>mediacentre.keywords</i18n>
                </label>
                <div class="twelve cell select-blocks-cross">
                    <div ng-repeat="word in signet.plain_text.all"
                         class="labels-in-ligne">
                        <div><span ng-bind="word.label"></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
