<div class="horizontal-spacing" ng-controller="propSignetController as vm">
    <h2><i18n>mediacentre.signets.properties</i18n></h2>
    <div class="horizontal-spacing vertical-spacing">
        <div class="image-container four cell horizontal-spacing">
            <span style="color:red" ng-if="!vm.signet.image || signet.image == ''"><i18n>mediacentre.choose.image</i18n></span>
            <image-select id="image" class="initialFloat cell" default="/img/illustrations/image-default.svg"
                          ng-change="vm.getTypeImage()" ng-model="vm.signet.image"/>
        </div>
        <div class="eight cell">
            <div>
                <label class="row twelve">
                    <input type="text" class="ten search_nav" required i18n-placeholder="mediacentre.signets.create.title"
                           ng-model="vm.signet.title" autofocus>
                </label>
                <label class="row twelve">
                    <input type="text" class="ten search_nav" i18n-placeholder="mediacentre.signets.create.url"
                           ng-model="vm.signet.url">
                </label>
            </div>
            <div class="row">
                <multi-combo title="[[vm.idiom.translate('mediacentre.levels')]]" class="eight cell" combo-model="vm.mainScope.levels.all"
                             search-on="label" order-by="label" filtered-model="vm.filterChoice.levels"></multi-combo>
                <div class="twelve cell select-blocks">
                    <div ng-repeat="level in vm.filterChoice.levels"
                         ng-click="vm.removeLevelFromCourse(level)"
                         class="labels-in-ligne">
                        <div > [[level.label]] </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <multi-combo title="[[vm.idiom.translate('mediacentre.disciplines')]]" class="eight cell" combo-model="vm.mainScope.disciplines.all"
                             search-on="label"  order-by="label" filtered-model="vm.filterChoice.disciplines"></multi-combo>
                <div class="twelve cell select-blocks">
                    <div ng-repeat="discipline in vm.filterChoice.disciplines"
                         ng-click="vm.removeDisciplineFromCourse(discipline)"
                         class="labels-in-ligne">
                        <div> [[discipline.label]] </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label >
                    <i18n>mediacentre.keywords</i18n>
                </label>
                <input type="text" ng-model="vm.query.plain_text" ng-keyup="vm.addKeyWord($event)"
                       class="ten search_nav" i18n-placeholder="mediacentre.signets.create.keywords" >
                <div class=" twelve cell select-blocks">
                    <div ng-repeat="word in vm.signet.plain_text.all"
                         ng-click="vm.removeWordFromCourse(word)"
                         class="labels-in-ligne">
                        <div>[[word.label]]</div>
                    </div>
                </div>
            </div>
            <div class="row bottom-spacing-three">
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.signet.orientation"/>
                    <span><i18n>mediacentre.signets.create.orientation</i18n></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="right-magnet">
            <input type="button" class="cancel" i18n-value="cancel" ng-click="vm.signetScope.vm.closeSignetLightbox()"/>
            <input type="submit" class="button" i18n-value="Valider" ng-click="vm.save()"/>
        </div>
    </div>
</div>
