<div class="complete-card" id="color-[[ngModel.hash]]">
    <img class="right-magnet source"
         ng-src="[[ '/mediacentre/public/img/' + ngModel.source + '.png' ]]"
         alt="[[ ngModel.source ]]" ng-if="ngModel.source != 'fr.openent.mediacentre.source.Signet' "/>
    <input type="checkbox" id="description-[[ngModel.hash]]">

    <div class="resource-card complete-card-container">
        <div class="image three" ng-click="open()">
            <div class="crop" data-resource-id="[[ngModel.id]]">
                <img ng-src="[[ngModel.image]]"
                     onerror="this.src='./mediacentre/public/img/empty-textbooks.svg'; this.style.maxWidth='100%';"
                     alt="[[ngModel.image]]">
            </div>
        </div>
        <div class="data nine">
            <div class="resource-information">
                <div class="title pointer" ng-click="open()">[[ngModel.displayTitle]]</div>
                <div class="subtitle" ng-show="ngModel.type != fr.openent.mediacentre.source.Signet">
                    <em class="metadata">
                        <i18n>mediacentre.edited.by</i18n>
                        <span ng-repeat-start="editor in ngModel.editors | limitTo:3 track by $index">[[editor]]</span>
                        <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
                    </em>
                    <div ng-if="ngModel.display_structure_name">
                        <em class="metadata">
                            <span>[[ngModel.structure_name]]</span>
                        </em>
                    </div>
                </div>
                <div class="types">
                    <resource-type ng-repeat-start="type in ngModel.document_types | limitTo:3 track by $index">[[type]]</resource-type>
                    <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
                </div>
            </div>
            <div class="resource-footer">
                <!--Description hider-->
                <label class="description-hider" for="description-[[ngModel.hash]]">
                    <i18n>mediacentre.description.button</i18n>
                </label>
                <div class="external-links">
                    <!--Add favorite-->
                    <div ng-if="!ngModel.favorite"
                         class="cell add-to-favorite"
                         data-ng-click="addFavorite()"
                         tooltip="<i18n>mediacentre.add.to.favorite</i18n>">
                        <i18n>mediacentre.add.to.favorite</i18n>
                    </div>
                    <!--Remove favorite-->
                    <div ng-if="ngModel.favorite"
                         class="cell remove-to-favorite"
                         data-ng-click="removeFavorite()"
                         tooltip="<i18n>mediacentre.remove.to.favorite</i18n>">
                        <i18n>mediacentre.remove.to.favorite</i18n>
                    </div>
                    <!--Copy link-->
                    <div ng-if="!ngModel.action"
                         class="cell copy-clipboard clipboard [[type]]-resource-[[ngModel.hash]] pointer"
                         data-clipboard-text="[[ngModel.link]]"
                         tooltip="<i18n>mediacentre.copy.link</i18n>">
                        <i18n>mediacentre.copy.link</i18n>
                    </div>
                    <div ng-if="ngModel.action && ngModel.source != 'fr.openent.mediacentre.source.Signet'"
                         ng-click="action()"
                         class="cell action [[idiom.translate(ngModel.action.label)]] [[type]]-resource-[[ngModel.hash]] pointer">
                        [[idiom.translate(ngModel.action.label)]]
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="description">
        <!--Description of the resource-->
        <div ng-if="ngModel.source != 'fr.openent.mediacentre.source.Signet'" class="description-text">
            <div class="title"><i18n>mediacentre.description.title.description</i18n></div>
            <!--Display text if it exists-->
            <div ng-if="ngModel.description.length > 0">[[ngModel.description]]</div>
            <!--Display disclaimer if it doesn't exist-->
            <div ng-if="!ngModel.description.length > 0"><i18n>mediacentre.description.undefined</i18n></div>
        </div>
        <!--Details of the resource-->
        <div class="description-details">
            <div class="title"><i18n>mediacentre.description.title.details</i18n></div>
            <div ng-if="ngModel.authors.length > 0" class="detail">
                <div class="detail-container">
                    <i18n class="icon-author subtitle">mediacentre.description.name.authors</i18n>
                    <div class="content">
                        <span class="content-item" ng-repeat-start="author in ngModel.authors track by $index">[[author]]</span>
                        <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
                    </div>
                </div>
            </div>
            <div ng-if="ngModel.editors.length > 0" class="detail">
                <div class="detail-container">
                    <i18n class="icon-editor subtitle">mediacentre.description.name.editors</i18n>
                    <div class="content">
                        <span class="content-item" ng-repeat-start="editor in ngModel.editors track by $index">[[editor]]</span>
                        <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
                    </div>
                </div>
            </div>
            <div ng-if="ngModel.date.length > 0" class="detail">
                <div class="detail-container">
                    <i18n class="icon-date subtitle">mediacentre.description.name.date</i18n>
                    <div class="content"><span class="content-item">[[ngModel.date]]</span></div>
                </div>
            </div>
            <div ng-if="ngModel.disciplines.length > 0" class="detail">
                <div class="detail-container">
                    <i18n class="icon-discipline subtitle">mediacentre.description.name.disciplines</i18n>
                    <div class="content">
                        <span class="content-item" ng-repeat-start="discipline in ngModel.disciplines track by $index">[[discipline]]</span>
                        <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
                    </div>
                </div>
            </div>
            <div ng-if="ngModel.levels.length > 0" class="detail">
                <div class="detail-container">
                    <i18n class="icon-level subtitle">mediacentre.description.name.levels</i18n>
                    <div class="content">
                        <span class="content-item" ng-repeat-start="level in ngModel.levels track by $index">[[level]]</span>
                        <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
                    </div>
                </div>
            </div>
            <div ng-if="ngModel.plain_text.length > 0" class="detail">
                <div class="detail-container">
                    <i18n class="icon-keyword subtitle">mediacentre.description.name.keywords</i18n>
                    <div class="content">
                        <div ng-if="'ngModel.source === fr.openent.mediacentre.source.Moodle' || ngModel.source === 'fr.openent.mediacentre.source.Signet'">
                        <span class="content-bold" ng-repeat-start="keyword in ngModel.plain_text track by $index">[[keyword]]</span>
                        <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
                        </div>
                        <div ng-if="'fr.openent.mediacentre.source.GAR' === ngModel.source">
                            <span class="content-bold">[[ngModel.plain_text]]</span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="ngModel.id.length > 0 && 'fr.openent.mediacentre.source.GAR' === ngModel.source" class="detail">
                <div class="detail-container">
                    <i18n class="icon-ark subtitle">support.identifiant</i18n>
                    <span class="content-bold">[[ngModel.id]]</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="resource-loader" ng-show="show.loader">
    <div class="image horizontal-margin" ng-click="open()">
        <img src="/mediacentre/public/img/empty-textbooks.svg" alt="empty-textbooks" style="max-width: 50%"/>
    </div>
    <div class="data">
        <div class="resource-information">
            <i18n>mediacentre.resource.loading</i18n>
        </div>
    </div>
</div>