<div class="resource-card" ng-show="!show.loader">
    <div class="image" ng-click="open()">
        <div class="crop" data-resource-id="[[ngModel.id]]">
            <img ng-src="[[ngModel.image]]" alt="[[ngModel.image]]">
        </div>
    </div>
    <div class="data">
        <div class="resource-information">
            <div class="title pointer lineClamp" ng-click="open()" style="-webkit-box-orient: vertical;">[[displayTitle(ngModel.title)]]</div>
            <div class="subtitle">
                <em class="metadata">
                    <span ng-repeat="editor in ngModel.editors">[[editor]] </span>
                </em>
                <div ng-if="ngModel.display_structure_name">
                    <em class="metadata">
                        <span>[[ngModel.structure_name]]</span>
                    </em>
                </div>
            </div>
        </div>
        <div class="resource-footer">
            <div class="cell">
                <!-- Add favorite-->
                <div ng-if="!ngModel.favorite" class="add-to-favorite" data-ng-click="addFavorite()"
                     tooltip="<i18n>mediacentre.add.to.favorite</i18n>">
                </div>
                <!--Remove favorite-->
                <div ng-if="ngModel.favorite" class="remove-to-favorite" data-ng-click="removeFavorite()"
                     tooltip="<i18n>mediacentre.remove.to.favorite</i18n>">&nbsp
                </div>
            </div>
            <div class="cell">
                <div class="copy-clipboard clipboard [[type]]-resource-[[ngModel.hash]] pointer"
                     data-clipboard-text="[[ngModel.link]]" tooltip="<i18n>mediacentre.copy.link</i18n>">
                </div>
            </div>
            <img class="right-magnet source" ng-src="[[ '/mediacentre/public/img/' + ngModel.source + '.png' ]]"
                 alt="[[ ngModel.source ]]"/>
        </div>
    </div>
</div>
<div class="resource-loader" ng-show="show.loader">
    <div class="image horizontal-margin" ng-click="open()">
        <img src="/mediacentre/public/img/empty-textbooks.svg" style="max-width: 50%"/>
    </div>
    <div class="data">
        <div class="resource-information">
            <i18n>mediacentre.resource.loading</i18n>
        </div>
    </div>
</div>