{
  "name": "fr.openent~mediacentre~2.4.1",
  "config": {
    "main" : "fr.openent.mediacentre.Mediacentre",
    "port" : 8064,
    "app-name" : "Mediacentre",
    "app-address" : "/mediacentre",
    "app-icon" : "${host}/mediacentre/public/img/logo-mediacentre.svg",
    "host": "${host}",
    "ssl" : $ssl,
    "auto-redeploy": false,
    "userbook-host": "${host}",
    "integration-mode" : "HTTP",
    "app-registry.port" : 8012,
    "mode" : "${mode}",
    "entcore.port" : 8009,
    "sources": {
        "fr.openent.mediacentre.source.GAR": true,
        "fr.openent.mediacentre.source.Moodle": true,
        "fr.openent.mediacentre.source.PMB": true
    },
    "textbook_typology": [
        "MAN"
    ],
    "wsPort": 3000,
    "elasticsearch": true,
    "elasticsearchConfig" : {
        "server-uri": "${elasticServerURI}",
        "index": "${elasticIndexName}"
    }
  }
}
