{
    "name": "{{ mediacentreVersion }}",
    {% if (item == 'jobs') %}
    "worker" : true,
    {% endif %}
    "config": {
        "main" : "fr.openent.mediacentre.Mediacentre",
        "port" : 8122,
        "app-name" : "Mediacentre",
        "app-address" : "/mediacentre",
        "app-icon" : "Mediacentre-large",
        "host": "https://{{ host }}",
        "ssl" : true,
        "sql" : true,
        "db-schema" : "mediacentre",
        "event-collection": "gar-events",
        {% if overrideTheme %} "override-theme": {{ override2d }}, {% endif %}
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "sources": {
            "fr.openent.mediacentre.source.GAR": true,
            "fr.openent.mediacentre.source.Moodle": {{ sourceMediacentreMoodle | default('false') }},
            "fr.openent.mediacentre.source.Signet": true,
            "fr.openent.mediacentre.source.PMB": false
        },
        "textbook_typology": ["MAN"],
        "wsPort": 6503,
		"whitelist-sources": {{ mediacentreWhitelist | default('[]') }},
        {% if elasticServerURIs is defined and mediacentreESIndex is defined %}
			"elasticsearch": true,
			"elasticsearchConfig" : {
				"server-uris": {{ elasticServerURIs }},
				"index": "{{ mediacentreESIndex }}",
				"elasticsearch-ssl": {{ mediacentreESSsl  | default('false') }},
				"username": "{{ mediacentreESUsername  | default('') }}",
				"password": "{{ mediacentreESPassword  | default('') }}"
			},
        {% endif %}
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 13
                },
                "LIBELLE_SERVICE": {
                    "default": "PAGE_ENT"
                }
            }
        }
    }
}