<section class="toggle-buttons" ng-if="vm.signets.selected.length > 0">
    <div class="toggle">
        <div class="row" ng-if="!vm.signets.selected[0].archived && !vm.signets.selected[0].published">
            <button ng-click="vm.openPropertiesSignet()" class="cell" ng-show="vm.signets.selected.length === 1">
                <i18n>mediacentre.properties</i18n>
            </button>
            <button ng-click="vm.openShareSignet()" class="cell"
                    ng-show="vm.signets.selected.length === 1 && hasShareRightManager(vm.signets.selectedElements)">
                <i18n>mediacentre.share</i18n>
            </button>
            <button ng-click="vm.openPublishSignet()" class="cell"
                    ng-show="vm.signets.selected.length === 1 && hasShareRightManager(vm.signets.selectedElements)">
                <i18n>mediacentre.publish</i18n>
            </button>
            <button ng-click="vm.openArchiveSignets()" class="cell"
                    ng-show="hasShareRightManager(vm.signets.selectedElements)">
                <i18n>mediacentre.archive</i18n>
            </button>
        </div>
        <div class="row" ng-if="vm.signets.selected[0].archived && !vm.signets.selected[0].published">
            <button ng-click="vm.restoreSignets()" ng-show="hasShareRightManager(vm.signets.selectedElements)" class="cell">
                <i18n>mediacentre.restore</i18n>
            </button>
            <button ng-click="vm.openDeleteSignets()" ng-show="hasShareRightManager(vm.signets.selectedElements)" class="cell">
                <i18n>mediacentre.delete</i18n>
            </button>
        </div>
        <div class="row" ng-if="vm.signets.selected[0].published">
            <button ng-click="vm.openDeleteSignets()" ng-show="hasShareRightManager(vm.signets.selectedElements)" class="cell">
                <i18n>mediacentre.delete</i18n>
            </button>
        </div>
    </div>
</section>