<section class="toggle-buttons" ng-if="vm.signets.selected.length > 0">
    <div class="toggle">
        <div class="row" ng-if="!vm.signets.selected[0].archived">
            <button ng-click="vm.openPropertiesSignet()" class="cell" ng-show="vm.signets.selected.length === 1">
                <i18n>mediacentre.properties</i18n>
            </button>
            <button ng-click="vm.shareSignet()" class="cell"
                    ng-show="vm.signets.selected.length === 1 ">
                <i18n>mediacentre.share</i18n>
            </button>
            <button ng-click="vm.openPublishSignet(vm.signets.selectedElements[0])" class="cell"
                    ng-show="vm.signets.selected.length === 1 ">
                <i18n>mediacentre.publish</i18n>
            </button>
<!--           <button ng-click="vm.archivesignets()" class="cell" ng-show="hasShareRightManager(vm.signets.selected[0])">
                <i18n>mediacentre.archive</i18n>
            </button>-->
        </div>
        <div class="row" ng-if="currentPage === Pages.signets_LIST && vm.signets.selected[0].archived" workflow="mediacentre.creation">
            <button ng-click="vm.restoresignets()" class="cell" ng-show="hasShareRightManager(vm.signets.selected[0])">
                <i18n>mediacentre.restore</i18n>
            </button>
            <button ng-click="vm.deletesignets()" class="cell" ng-show="hasShareRightManager(vm.signets.selected[0])">
                <i18n>mediacentre.delete</i18n>
            </button>
        </div>
    </div>
</section>