@import "../colors.scss";
.med-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .med-search-page-header {
    width: 100%;
    .med-search-page-title {
      display: flex;
      align-items: center;
      margin-left: 10px;

      .med-search-title {
        font-size: 20px;
      }

      .med-search-icon {
        color: $med-dark-gray;
        font-size: 30px;
        margin: 0 1rem 3px 0;
      }

      font-family: Comfortaa;
      font-size: 26px;
      font-weight: 700;
      color: $med-dark-gray;

      @media (max-width: 1280px) {
        font-size: 20px;
      }
    }
  }
  .med-search-page-content {
    .med-search-page-parameters {
      margin-right: 30px;
    }
    width: 1100px;

    @media (max-width: 1280px) {
      width: 800px;
    }

    @media (max-width: 800px) {
      width: 100%;
      margin: 0;
    }
  }
}
