.med-search-resource-details {
  display: flex;
  flex-direction: column;
  .med-search-resource-details-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
  }
}
