@import "../../styles/_colors.scss";

.list-card {
  display: flex;
  flex-direction: column;
  margin: 10px;

  &.pinned_resources {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
  }
  &.favorites {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
  }
  &.manuals {
    width: 100%;
    margin-right: 20px;
  }
  &.util_links {
    width: 100%;
    margin-left: 20px;
  }

  .left-arrow {
    color: $med-red;
    font-size: 24px;
    margin-right: 10px;
  }
  .right-arrow {
    color: $med-red;
    font-size: 12px;
    margin-left: 10px;
  }
  .dots {
    .dot {
      color: $med-red;
      font-size: 8px;
    }
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
}

.list-card-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    color: $med-dark-gray;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;

    .icon {
      color: $med-red;
      font-size: 20px;
      margin-right: 5px;
    }
  }

  .right-button {
    color: $med-red;
    font-family: "Roboto";
    font-size: 14px;
  }
}

@for $i from 1 through 8 {
  .grid-#{$i} {
    --edifice-columns: #{$i};
    width: 100%;
  }
}
