@import "../../styles/_colors.scss";

.med-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 100px);
  margin-left: 100px;
  padding: 1.5rem 0;
  background-color: #edeff2;

  .med-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.med-search-bar {
      margin-right: 25px;
      max-width: 500px;
      width: 40%;
      margin-left: 1rem;
    }

    &.med-menu {
      display: flex;
      align-items: center;
    }

    .med-burger-icon {
      margin-right: 1rem;

      svg {
        width: 3rem;
        height: 3rem;
      }
    }

    .dropdown-toggle {
      background: none;
      border: none;
    }

    .med-header-structure {
      color: $med-secondary-gray;
      padding: 12px 16px;
      font-family: Comfortaa;
    }

    .med-header-button {
      white-space: nowrap;
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .med-header {
    align-items: flex-start;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;

    .med-header-container:last-child {
      margin-right: 50px;
      width: 80%;
    }
  }
}

@media screen and (min-width: 768px) {
  .sidebar-toggle {
    display: none;
  }
}
