<div class="header">
    <div class="header-main twelve">
        <div class="mediacentre-title">
            <a href="/mediacentre" class="cell">
                <img src="/mediacentre/public/img/logo-mediacentre.svg" alt="Logo" class="cell">
                <h1 class="cell">
                    <span class="horizontal-spacing"><i18n>mediacentre.title</i18n></span>
                </h1>
            </a>
        </div>
        <div class="search-block six twelve-mobile">
            <input type="text"
                   ng-enter="mc.redirectToReactSearch()"
                   ng-model="mc.search.plain_text.text"
                   i18n-placeholder="mediacentre.resource.search"
                   class="search nine twelve-mobile"/>
        </div>
        <div ng-show="mc.hasSignetRight()" class="mediacentre-button" ng-init="mc.initHeader()">
            <input type="radio" id="item_1" name="box" ng-click="mc.goHome()" style="display: none;" checked>
            <a href="/mediacentre" for="item_1" class="label label-left">Accueil</a>
            <input ng-click="mc.goSignet()" type="radio" id="item_2" name="box" style="display: none;">
            <label for="item_2" class="label label-right">Signets</label>
        </div>
        <div ng-show="!mc.hasSignetRight()">
        </div>
    </div>

    <!--Favorite-->
    <div ng-show="mc.displayFavorites && mc.favorites.length > 0" class="favorites horizontal-spacing row vertical-spacing">
        <div class="title">
            <h2 class="cell">
                <i18n>mediacentre.my.favorite</i18n>
            </h2>
            <div class="seeMore cell" data-ng-click="mc.goFavorites()">
                <span>
                    <i18n>mediacentre.see.more</i18n>
                </span>
            </div>
        </div>

        <!--Content-->
        <div class="header-favorites" ng-show="mc.favorites.length > 0">
            <resource-card
                    ng-repeat="resource in mc.favorites | orderBy:'title' track by $index"
                    ng-if="$index > (mc.favorites.length - 1 - mc.favoriteLimit)"
                    type="mini-card"
                    ng-model="resource">
            </resource-card>
        </div>
    </div>
</div>